<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<div id="box">
			<input type="text" v-model="value"/>
			<div v-for="i in arr">
				{{i|d(value,2)}}
			</div>
		</div>
	</body>
	<script src="vue.js"></script>
	<script>
		
		new Vue({
			el:'#box',
			data:{
				arr:['asdsdds','wddssdaas','sadsdf'],
				value:'a'
			},
			filters:{
				d(a,b,c){
					if (b) {
						var arr=a.split(b)
						var str=arr.join('<span style="color:red">'+b+'<span>')
						return str
					} else{
						return a
					}
				}
			}
		})
	</script>
</html>
